#formBox {
  padding-top: 60px;
  height: 800px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 40px 0 0 40px;
  width: 70%;
}

#text-field {
  display: flex;
  justify-content: space-between;
}

.boxContainer {
  width: 468px;
  height: 446px;
  background-color: aqua;
}
